body{
    box-sizing: border-box;
    margin: 50px 0 0 0;
    padding: 0;
    font-size: 20px;

}
.container{
    margin: 0 auto;
    text-align: center;
}
.check-cont{
    border: 2px solid aquamarine;
    border-radius: 50%;
    width:200px;
    margin: 0 auto;
    background-color: aquamarine;
}
.checkmark{
    color: red;
    font-size: 40px;
}
h1{
    color:red;
    font-weight: bolder;
}
.successful{
    font-family: Tahoma;
}